.conversor-input {
  @include Input;
  font-family: $quicksand;
  justify-content: flex-end;
  text-align: end;
  font-size: 16px;

  @media screen and (max-width: $break-md) {
    width: auto;
    padding: 10px 5px;
  }
}

.conversor-input-label {
  text-transform: capitalize;
}
